@page "/help"
@using System.Globalization
@using Microsoft.Extensions.Localization
@using dsstats.localization
@using dsstats.shared.Interfaces
@inject IStringLocalizer<DsstatsLoc> Loc
@inject IRemoteToggleService remoteToggleService
@implements IDisposable

<div class="bgchart border rounded p-2">
    <h3>@Loc["Getting started"]</h3>
    <ul class="list-group ms-4">
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Decoding Replays"]:</h4>
            <p class="list-group-item-text">
                @Loc["Decoding Replays detail"]
            </p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Decoding Process"]:</h4>

            <p class="list-group-item-text">@Loc["Decoding Process detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Optimizing Decoding"]:</h4>

            <p class="list-group-item-text">@Loc["Optimizing Decoding detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Decoding Speed"]:</h4>

            <p class="list-group-item-text">@Loc["Decoding Speed detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Automatic Replay Detection"]:</h4>

            <p class="list-group-item-text">@Loc["Automatic Replay Detection detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Pause and Resume Functionality"]:</h4>

            <p class="list-group-item-text">@Loc["Pause and Resume Functionality detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Consent for Upload"]:</h4>

            <p class="list-group-item-text">@Loc["Consent for Upload detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Comparing Stats"]:</h4>

            <p class="list-group-item-text">@Loc["Comparing Stats detail"]</p>
        </li>
        <li>
            <h4 class="list-group-item-heading text-warning">@Loc["Community Support"]:</h4>

            <p class="list-group-item-text">@Loc["Community Support detail"]
                <a href="https://discord.gg/rKAyaggtqP">
                    <img src="_content/dsstats.razorlib/images/discord.svg" alt="Discord" width="30">
                    <span class="badge bgchart2 text-decoration-underline" style="font-size: 1rem;">
                        Discord
                    </span>
                </a>
            </p>
        </li>
    </ul>
</div>

@code {
    protected override void OnInitialized()
    {
        remoteToggleService.CultureChanged += CultureChanged;
        base.OnInitialized();
    }

    private void CultureChanged(object? sender, EventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        remoteToggleService.CultureChanged -= CultureChanged;
    }
}
