@page "/"
@using Microsoft.Extensions.Localization
@using dsstats.localization
@using dsstats.shared
@inject IStringLocalizer<DsstatsLoc> Loc

@if (DEBUG)
{
    <div>
        <h4>DEBUG</h4>
        <div class="btn-group">
            <button type="button" class="btn btn-danger" @onclick="e => dsstatsService.DeleteRecentReplays(1)">Delete Replays</button>
            <button type="button" class="btn btn-danger" @onclick="e => dsstatsService.DEBUGProduceReplayError()">ProduceReplayError</button>
        </div>
    </div>
}
<div class="btn-group border border-3 rounded-2 border-light p-2 bgchart">
    @if (dsstatsService.Decoding)
    {
        <button type="button" class="btn btn-outline-warning" @onclick="e => dsstatsService.CancelDecoding()">@Loc["StopDecoding"]</button>
    }
    else
    {
        <button type="button" class="btn btn-outline-danger" @onclick="dsstatsService.DecodeNewReplays">@Loc["Decode"]</button>

    }
    <button type="button" class="btn btn-outline-success" @onclick="e => dsstatsService.ScanForNewReplays()">@Loc["Scan"]</button>
    <button type="button" class="btn btn-outline-info" @onclick="Upload">@Loc["Upload"]</button>
</div>
<div class="row justify-content-between">
    <div class="col-auto">
        @if (currentReplay is not null)
        {
            <div class="d-flex flex-row bgchart2">
                <div class="p-2">
                    @if (isLatestreplay)
                    {
                        <h4 class="text-warning">@Loc["Latest Replay"]</h4>
                    }
                    else
                    {
                        <h4 class="text-warning">@Loc["Recent Replay"]</h4>
                    }
                </div>
            </div>
            <dsstats.razorlib.Replays.ReplayComponent @ref="replayComponent" Replay="currentReplay" IsCloseable="false" IsScrollable="true"
                                                      OnScrollRequest="LoadNextReplay" />
        }
        else
        {
            <div class="mt-4 bgchart p-2 border rounded">
                <h3><a href="help">@Loc["Getting started"] <span class="bi bi-question-circle text-white"></span></a></h3>
            </div>
        }
    </div>
    <div class="col-auto">
        <button class="btn btn-sm btn-outline-light bgchart"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#SessionComponent"
                aria-expanded="false"
                aria-controls="SessionComponent"
                @onclick="e => showSessionProgress = !showSessionProgress">
            <span class="bi @(showSessionProgress ? "bi-chevron-down" : "bi-chevron-up")"></span>
            @Loc["Session Progress"]
        </button>
        <div class="collapse show" id="SessionComponent">
            @if (showSessionProgress)
            {
                <SessionComponent @ref="sessionComponent" RequestReplay="e => LoadSessionReplay(e)" />
            }
        </div>
    </div>
</div>
@if (isChartAnnotationPluginRegistered)
{
    <div class="mt-2">
        <div class="col-auto">
            <button class="btn btn-sm btn-outline-light bgchart"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#AppPlayers"
                    aria-expanded="false"
                    aria-controls="AppPlayers"
                    @onclick="e => showPlayers = !showPlayers">
                <span class="bi @(showPlayers ? "bi-chevron-down" : "bi-chevron-up")"></span>
                @Loc["Players"]
            </button>
        </div>
        <div class="collapse show" id="AppPlayers">
            @if (showPlayers)
            {
                <AppPlayersComponent @ref="appPlayersComponent" ActivePlayer="interestPlayer" OnPlayerRequested="PlayerRequest" />
            }
        </div>
        @if (interestPlayer is not null)
        {
            <div class="mt-1">
                @*             <dsstats.razorlib.Players.PlayerDetails @ref="playerDetails"
        PlayerId="interestPlayer" RatingType="RatingType.Cmdr" RatingCalcType="RatingCalcType.Dsstats" /> *@
                <dsstats.razorlib.Players.Profile.ProfileComponent @ref="playerDetails" PlayerId="interestPlayer" RatingCalcType="RatingCalcType.Dsstats" RatingType="RatingType.Cmdr" />
            </div>
        }
    </div>
}
<div style="height: 50px; width: 50px; position: relative;">
    <dsstats.razorlib.Players.Profile.AnnotationChartComponent OnAnnotationsRegistered="AnnotationsRegistered" />
</div>