<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dsstats.weblib/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dsstats.weblib/css/bootstrap-icons/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dsstats.weblib/css/dsstats.css"]" />
    <link rel="stylesheet" href="@Assets["dsstats.web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8CXK9W09V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-H8CXK9W09V');
    </script>
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/dsstats.weblib/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["_content/dsstats.weblib/js/dsstats.js?v=3.0"]"></script>
</body>

</html>
<script>
    var gaProperty = 'G-H8CXK9W09V';

    // Disable tracking if the opt-out cookie exists.
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
        window[disableStr] = true;
    }

    // Opt-out function
    function gaOptout() {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
    }
</script>