<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dsstats.weblib/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dsstats.weblib/css/bootstrap-icons/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dsstats.weblib/css/dsstats.css"]" />
    <link rel="stylesheet" href="@Assets["dsstats.web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/dsstats.weblib/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["_content/dsstats.weblib/js/dsstats.js?v=3.0"]"></script>
</body>

</html>
