@using dsstats.shared
@inherits StatsComponent

<style>
    .check-label:hover {
        color: white !important;
        background-color: #adb5bd !important;
        border-color: white !important;
    }
</style>

<CascadingValue Value="Request">
    <StatsRequestComponent OnRequestChanged="e => LoadData()" />
    <CascadingValue Value="IsLoading">
        <StatsFilterComponent OnRequestChanged="e => LoadData()" />
    </CascadingValue>
</CascadingValue>

<div class="row mt-2">
    <div class="col-auto">
        <div class="d-none d-xl-block">
            <CmdrSelectComponent @ref="cmdrSelectComponent" OnCommanderSelected="CommanderSelected"></CmdrSelectComponent>
        </div>
    </div>
    <div class="col-auto">
        <div>
            @if (response != null)
            {
                <div class="border rounded border-secondary bgchart"
                     style="min-width: 850px; width: 55vw; height: calc(55vw * 0.5); min-height: 425px;">

                    <WinrateChart @ref="winrateChart" Request="new(Request, winrateType)" Response="orderedResponse"></WinrateChart>
                </div>
            }
        </div>
        <div class="mt-2">
            <div class="btn-group" role="group" aria-label="Chart type toggle group">
                @{
                    int i = -1;
                }
                @foreach (WinrateType wt in Enum.GetValues(typeof(WinrateType)))
                {
                    i++;
                    <input type="radio" class="btn-check" name="@($"btnwinrate{i}")" id="@($"winratetype{i}")" autocomplete="off" checked="@(winrateType == wt)" @onchange="e => SetWinrateType(e, wt)">
                    <label class="btn btn-sm btn-outline-light bgchart check-label" for="@($"winratetype{i}")">@wt</label>
                }
            </div>
        </div>
        <div class="mt-2 bgchart d-inline-block p-1" style="max-width: 55vw; min-width: 850px;">
            <p class="text-warning">
                @GetDescription()
            </p>
        </div>
    </div>
</div>
@if (response != null)
{
    <CascadingValue Value="tableOrders">
        <div class="mt-2">
            <WinrateTable @ref="winrateTable" Response="orderedResponse" OnOrderChanged="OrderChanged"></WinrateTable>
        </div>
    </CascadingValue>
}


