@using Microsoft.AspNetCore.Components.Web.Virtualization;
@using Microsoft.AspNetCore.Components.Forms
@using System.Globalization;
@using pax.dsstats.shared
@using sc2dsstats.razorlib.Services
@inject IDataService dataService
@inject NavigationManager NavigationManager
@implements IDisposable

<style>
    .tableFixHead {
        overflow-y: auto;
        height: 800px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
        white-space: nowrap;
    }

    th {
        background: purple;
    }

    .tablebackground {
        position: absolute;
        z-index: -1;
        opacity: 0.15;
    }
</style>

<div class="@(Interest == null ? "" : "visually-hidden")">
    <div class="d-flex">
        <EditForm EditContext="editContext">
            <div class="row">
                <div class="col-auto">
                    <label class="form-label">
                        Search:
                        <InputText class="form-control" @bind-Value="RatingsRequest.Search"></InputText>
                    </label>
                </div>
                <div class="col-auto">
                    <label class="form-label">
                        Rating Type
                        <InputSelect class="form-select" @bind-Value="RatingsRequest.Type">
                            <option value="@RatingType.Cmdr" selected>@Data.GetRatingTypeLongName(RatingType.Cmdr)</option>
                            <option value="@RatingType.Std">@Data.GetRatingTypeLongName(RatingType.Std)</option>
                        </InputSelect>
                    </label>

                </div>
                @if (Data.IsMaui)
                {
                    <div class="col-auto form-check form-switch align-self-center me-2">
                        <label class="form-check-label">
                            Online Ratings
                            <input type="checkbox" class="form-check-input" @onchange="FromServerChange">
                            </input>
                        </label>
                    </div>
                } else
                {
                    <div class="col-auto form-check form-switch align-self-center me-2">
                        <label class="form-check-label">
                            Uploaders
                            <InputCheckbox class="form-check-input" @bind-Value="RatingsRequest.Uploaders"></InputCheckbox>
                        </label>
                    </div>
                }
            </div>
        </EditForm>
        <div class="align-self-center ms-2">
            <span class="oi oi-x text-danger pointer" @onclick="ResetSearch"></span>
        </div>
        <div class="ms-3 align-self-center">
            <a href="https://github.com/ipax77/dsstats/wiki/Mmr-calculation"><span class="oi oi-info me-1"></span>Calculation</a>
        </div>
    </div>
    <div class="d-flex" style="max-width: 750px;">
        <p class="ms-auto p-0 m-0"><small class="text-primary">min 20 games</small> #@ratingsCount</p>
    </div>
    <div class="tableFixHead">
        <table class="table table-dark table-hover table-striped w-auto">
            <colgroup>
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
            </colgroup>
            <thead style="user-select: none;">
                <CascadingValue Value="RatingsRequest.Orders">
                    <tr>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Pos"))">
                            <SortArrow Property="Pos">
                                #
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Player.RegionId"))">
                            <SortArrow Property="Player.RegionId">
                                <div class="text-center">
                                    <span class="oi oi-globe rounded-circle bg-primary p-1"></span>
                                </div>
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer text-info" @onclick="@(e => SortList(e, "Player.Name"))">
                            <SortArrow Property="Player.Name">
                                Name
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer text-info" @onclick="@(e => SortList(e, "Main"))">
                            <SortArrow Property="Main">
                                Main
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer text-info" @onclick="@(e => SortList(e, "MainCount"))">
                            <SortArrow Property="MainCount">
                                Main %
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Games"))">
                            <SortArrow Property="Games">
                                Games
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer text-warning" @onclick="@(e => SortList(e, "Rating"))">
                            <SortArrow Property="Rating">
                                Rating
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Wins"))">
                            <SortArrow Property="Wins">
                                Winrate
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Mvp"))">
                            <SortArrow Property="Mvp">
                                Mvp
                            </SortArrow>
                        </th>
                    </tr>
                </CascadingValue>
            </thead>
            <tbody>
                @if (ratingsCount > 0)
                {
                    <Virtualize @ref="virtualize" Context="rating" ItemsProvider="LoadRatings" OverscanCount="10" ItemSize="41">
                        <ItemContent>
                            <tr height="41px;" class="pointer" @onclick="e => LoadPlayerChart(rating.Player)">
                                <td>
                                    <span class="text-truncate text-warning" style="display: block; width: 40px;">@rating.Pos</span>
                                </td>
                                <td>
                                    <span>@Data.GetRegionString(rating.Player.RegionId)</span>
                                </td>
                                <td><span class="text-truncate text-info" style="display: block; width: 130px;">@rating.Player.Name</span></td>
                                <td>@(rating.Games == 0 || rating.MainCount * 100.0 / rating.Games < 10.5 ? "Random" : rating.Main.ToString())</td>
                                <td>@HelperService.GetPercentageString(rating.MainCount, rating.Games)</td>
                                <td class="border-start">@rating.Games</td>
                                <td class="text-warning">@Math.Round(rating.Rating, 2).ToString(CultureInfo.InvariantCulture)</td>
                                <td>@HelperService.GetPercentageString(rating.Wins, rating.Games)</td>
                                <td>@HelperService.GetPercentageString(rating.Mvp, rating.Games)</td>
                            </tr>
                        </ItemContent>
                        <Placeholder>
                            <tr height="41px"><td colspan="12">Loading ...</td></tr>
                        </Placeholder>
                    </Virtualize>
                }
            </tbody>
        </table>
    </div>
    <div class="">
        <div class="btn-block">
            <button type="button" class="btn btn-sm btn-outline-light" @onclick="@(() => DistributionRequest = DistributionRequestEnum.Std)">Std Distribution</button>
            <button type="button" class="btn btn-sm btn-outline-light" @onclick="@(() => DistributionRequest = DistributionRequestEnum.Cmdr)">Cmdr Distribution</button>
            @if (DistributionRequest != DistributionRequestEnum.None)
            {
                <button type="button" class="btn btn-sm btn-outline-warning" @onclick="@(() => DistributionRequest = DistributionRequestEnum.None)">Close</button>
            }
        </div>
        @if (DistributionRequest == DistributionRequestEnum.Std)
        {
            <div>
                <PlayerRatingsDeviation @ref="playerRatingsDeviation" Std="true"></PlayerRatingsDeviation>
            </div>
        }
        else if (DistributionRequest == DistributionRequestEnum.Cmdr)
        {
            <div>
                <PlayerRatingsDeviation @ref="playerRatingsDeviation" Std="false"></PlayerRatingsDeviation>
            </div>
        }
    </div>
</div>

@if (Interest != null)
{
    @*<PlayerDetailsComponent RequestNames="Interest" OnCloseRequested="DetailsClose"></PlayerDetailsComponent>*@
    <sc2dsstats.razorlib.PlayerDetails.PlayerDetailsNgComponent RequestNames="Interest"
                                                            RatingType="RatingsRequest.Type"
                                                            OnCloseRequested="DetailsClose"
                                                            ReplaysRequest="ReplaysToonIdRequest" />
}


@code {
    [Parameter]
    [EditorRequired]
    public RatingsRequest RatingsRequest { get; set; } = default!;

    [Parameter]
    public EventCallback OnRatingsChanged { get; set; }

    private int ratingsCount;
    private PlayerRatingsDeviation? playerRatingsDeviation;
    private Virtualize<PlayerRatingDto>? virtualize;
    private DistributionRequestEnum DistributionRequest = DistributionRequestEnum.None;
    private CancellationTokenSource cts = new();

    private EditContext editContext = null!;

    private RequestNames? Interest;

    protected override void OnInitialized()
    {
        dataService.SetFromServer(false);
        _ = SetRatingsCount();
        editContext = new EditContext(RatingsRequest);
        editContext.OnFieldChanged += FieldChanged;
        _ = LoadInitialPlayerInfo();

        base.OnInitialized();
    }

    private void FieldChanged(object? sender, FieldChangedEventArgs e)
    {
        _ = Reload();
        OnRatingsChanged.InvokeAsync();
    }

    private void FromServerChange(ChangeEventArgs e)
    {
        if (e.Value is bool value)
        {
            dataService.SetFromServer(value);
            _ = Reload();
        }
    }

    private async Task SetRatingsCount()
    {
        ratingsCount = await dataService.GetRatingsCount(RatingsRequest, cts.Token);
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task Reload()
    {
        await SetRatingsCount();
        if (virtualize != null)
        {
            await virtualize.RefreshDataAsync();
        }
        await InvokeAsync(() => StateHasChanged());
        if (playerRatingsDeviation != null)
        {
            await playerRatingsDeviation.LoadData();
        }
    }

    private async Task SortList(MouseEventArgs e, string property)
    {
        var exOrder = RatingsRequest.Orders.FirstOrDefault(f => f.Property == property);
        if (e.ShiftKey)
        {
            if (exOrder == null)
            {
                RatingsRequest.Orders.Add(new TableOrder()
                    {
                        Property = property
                    });
            }
            else
            {
                exOrder.Ascending = !exOrder.Ascending;
            }
        }
        else
        {
            RatingsRequest.Orders.Clear();
            RatingsRequest.Orders.Add(new TableOrder()
                {
                    Property = property,
                    Ascending = exOrder == null ? false : !exOrder.Ascending
                });
        }
        await Reload();
    }

    private async ValueTask<ItemsProviderResult<PlayerRatingDto>> LoadRatings(ItemsProviderRequest request)
    {
        var numRatings = Math.Min(request.Count, ratingsCount - request.StartIndex);
        RatingsRequest.Skip = request.StartIndex;
        RatingsRequest.Take = numRatings;

        if (RatingsRequest.Skip < 0 || RatingsRequest.Take < 0)
        {
            return new ItemsProviderResult<PlayerRatingDto>();
        }
        var result = await dataService.GetRatings(RatingsRequest, request.CancellationToken);
        return new ItemsProviderResult<PlayerRatingDto>(result.Players, ratingsCount);
    }

    private void DetailsClose()
    {
        Interest = null;
        RatingsRequest.ToonId = null;
        OnRatingsChanged.InvokeAsync();
        StateHasChanged();
    }

    private void ReplaysToonIdRequest(ReplaysToonIdRequest request)
    {
        NavigationManager.NavigateTo(
            NavigationManager.GetUriWithQueryParameters("replays",
                new Dictionary<string, object?>()
                {
                    { "Players", request.Name },
                    { "ToonId", request.ToonId },
                    { "ToonIdWith", request.ToonIdWith == 0 ? null : request.ToonIdWith },
                    { "ToonIdVs", request.ToonIdVs == 0 ? null : request.ToonIdVs },
                    { "ToonIdName", request.ToonIdName },
                }
            )
        );
    }

    private async Task LoadInitialPlayerInfo()
    {
        if (RatingsRequest.ToonId != null && RatingsRequest.ToonId > 0)
        {
            Interest = new() { Name = "", ToonId = RatingsRequest.ToonId.Value };
            await InvokeAsync(() => StateHasChanged());
        }
    }

    private void LoadPlayerChart(PlayerRatingPlayerDto playerDto)
    {
        Interest = new() { Name = playerDto.Name, ToonId = playerDto.ToonId };
        RatingsRequest.ToonId = playerDto.ToonId;
        StateHasChanged();
        OnRatingsChanged.InvokeAsync();
    }

    public enum DistributionRequestEnum
    {
        None = 0,
        Std = 1,
        Cmdr = 2
    }

    private void ResetSearch()
    {
        RatingsRequest.Search = null;
        _ = Reload();
    }

    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
        editContext.OnFieldChanged -= FieldChanged;
    }
}
