@using System.Globalization;
@using pax.dsstats.shared
@using sc2dsstats.razorlib.Services

<div>
    @if (PlayerDetailInfo != null)
    {
        <div class="row mt-2">
            <div class="col-auto" style="width: 600px;">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Commander</th>
                            <th>%</th>
                            <th>∅</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="fw-bold">Commanders</td>
                        </tr>
                        <tr>
                            <td>Most Played Cmdr</td>
                            <td>@PlayerDetailInfo.MostPlayedCmdrCmdr?.Commander</td>
                            <td>@HelperService.GetPercentageString(PlayerDetailInfo.MostPlayedCmdrCmdr?.Wins,PlayerDetailInfo.SumCmdr)</td>
                            <td>@PlayerDetailInfo.MostPlayedCmdrCmdr?.Count</td>
                        </tr>
                        <tr>
                            <td>Least Played Cmdr</td>
                            <td>@PlayerDetailInfo.LeastPlayedCmdrCmdr?.Commander</td>
                            <td>@HelperService.GetPercentageString(PlayerDetailInfo.LeastPlayedCmdrCmdr?.Wins,PlayerDetailInfo.SumCmdr)</td>
                            <td>@PlayerDetailInfo.LeastPlayedCmdrCmdr?.Count</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="fw-bold">Standard</td>
                        </tr>
                        <tr>
                            <td>Most Played Cmdr</td>
                            <td>@PlayerDetailInfo.MostPlayedCmdrStd?.Commander</td>
                            <td>@HelperService.GetPercentageString(PlayerDetailInfo.MostPlayedCmdrStd?.Wins,PlayerDetailInfo.SumStd)</td>
                            <td>@PlayerDetailInfo.MostPlayedCmdrStd?.Count</td>
                        </tr>
                        <tr>
                            <td>Least Played Cmdr</td>
                            <td>@PlayerDetailInfo.LeastPlayedCmdrStd?.Commander</td>
                            <td>@HelperService.GetPercentageString(PlayerDetailInfo.LeastPlayedCmdrStd?.Wins,PlayerDetailInfo.SumStd)</td>
                            <td>@PlayerDetailInfo.LeastPlayedCmdrStd?.Count</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="4" class="fw-bold">Matchups (∅ > 10)</td>
                        </tr>
                        @foreach (var ent in PlayerDetailInfo.MatchupInfos.Where(x => x.Count > 10).OrderByDescending(o => o.Wins * 100.0 / o.Count))
                        {
                            <tr>
                                <td></td>
                                <td>@ent.Commander vs @ent.Versus</td>
                                <td>@HelperService.GetPercentageString(ent.Wins, ent.Count)</td>
                                <td>@ent.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-auto ms-3" style="width: 600px;">
                <div class="w-100">
                    <PlayerCmdrDistribution PlayerCmdrInfos="PlayerDetailInfo.CmdrInfos.Where(x => x.Count > 0).OrderByDescending(o => o.Count).ToList()"></PlayerCmdrDistribution>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public PlayerDetailInfo PlayerDetailInfo { get; set; } = default!;
}
