@using dsstats.shared

<div class="card border rounded" style="width: 22rem;">
    <div class="card-header bgchart2">
        <span class="fw-bold h5">@Faq.Question</span>
    </div>
    <div class="card-body bgchart">
        <div class="card-text">
            @Faq.Answer
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center bgchart2 text-warning">
        <div>
            <i class="bi bi-tag"></i> @Faq.Level
        </div>
        <div>
            <i class="bi bi-hand-thumbs-up @($"{(upvoted ? "" : "pointer")}")" @onclick="Upvote"></i> @Faq.Upvotes
        </div>
        <div>
            <i class="bi bi-person"></i> @Faq.CreatedBy
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public FaqDto Faq { get; set; } = default!;

    [Parameter]
    public EventCallback<int> OnUpvoteRequest { get; set; }

    private bool upvoted = false;

    private void Upvote()
    {
        if (upvoted)
        {
            return;
        }
        OnUpvoteRequest.InvokeAsync(Faq.FaqId);
        upvoted = true;
    }
}
