@using dsstats.shared
@using dsstats.razorlib.Services
@using System.Globalization

<div class="card d-inline-block">
    <div class="card-header bgchart2">
        <div class="ismobile">
            <h4><span class="text-warning">Rating Info</span></h4>
            <small>@Data.GetRatingTypeLongName(Rating.RatingType)</small>
        </div>
        <div class="isdesktop">
            <h4><span class="text-warning">Rating Info</span> <small>@Data.GetRatingTypeLongName(Rating.RatingType)</small></h4>
        </div>
    </div>
    <div class="card-body bgchart">
        <div class="ismobile">
            <div class="table-responsive">
                <table class="tptable table table-sm">
                    <tbody>
                        <tr>
                            <td>Rating games</td>
                            <td colspan="2">@Rating.Games</td>
                        </tr>
                        <tr>
                            <td>Main</td>
                            <td>@(Rating.Games == 0 || Rating.MainCount * 100.0 / Rating.Games < 10.5 ? "Random" : Rating.Main.ToString())</td>
                        </tr>
                        <tr>
                            <td>Main %</td>
                            <td>@HelperService.GetPercentageString(Rating.MainCount, Rating.Games)</td>
                        </tr>
                        <tr>
                            <td>Winrate</td>
                            <td colspan="2">@HelperService.GetPercentageString(Rating.Wins, Rating.Games)</td>
                        </tr>
                        <tr>
                            <td>Mvp</td>
                            <td colspan="2">@HelperService.GetPercentageString(Rating.Mvp, Rating.Games)</td>
                        </tr>
                        <tr>
                            <td>Consistency</td>
                            <td colspan="2">@Rating.Consistency.ToString("N2", CultureInfo.InvariantCulture)</td>
                        </tr>
                        <tr>
                            <td>Confidence</td>
                            <td colspan="2">@Rating.Confidence.ToString("N2", CultureInfo.InvariantCulture)</td>
                        </tr>
                        <tr>
                            <td>
                                Rating Change
                                <br />
                                <small class="text-white-50">past 30 days</small>
                            </td>
                            <td colspan="2">
                                @if (Rating.PlayerRatingChange != null)
                                {
                                    <span class="@(Rating.PlayerRatingChange.Change30d >= 0 ? "bi bi-arrow-up text-success" : "bi bi-arrow-down text-danger")">
                                        @Rating.PlayerRatingChange.Change30d.ToString("N2", CultureInfo.InvariantCulture)
                                    </span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="isdesktop">
            <div class="table-responsive" style="overflow-x: auto; max-width: 80vw;">
                <table class="tptable table table-sm">
                    <thead>
                        <tr>
                            <th>Rating Games</th>
                            <th>Main</th>
                            <th>Winrate</th>
                            <th>Mvp</th>
                            <th>Consistency</th>
                            <th>Confidence</th>
                            <th><span class="bi bi-arrow-down-up"></span> 30d</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>@Rating.Games</td>
                            @if (MvpInfo is not null)
                            {
                                <td>@(MvpInfo.Games == 0 || MvpInfo.MainCount * 100.0 / MvpInfo.Games < 10.5 ? "Random" : MvpInfo.Main.ToString()) @HelperService.GetPercentageString(MvpInfo.MainCount, MvpInfo.Games)</td>
                            }
                            else
                            {
                                <td>@(Rating.Games == 0 || Rating.MainCount * 100.0 / Rating.Games < 10.5 ? "Random" : Rating.Main.ToString()) @HelperService.GetPercentageString(Rating.MainCount, Rating.Games)</td>
                            }
                            <td>@HelperService.GetPercentageString(Rating.Wins, Rating.Games)</td>
                            @if (MvpInfo is not null)
                            {
                                <td>@HelperService.GetPercentageString(MvpInfo.Mvp, MvpInfo.Games)</td>
                            }
                            else
                            {
                                <td>@HelperService.GetPercentageString(Rating.Mvp, Rating.Games)</td>
                            }
                            <td>@Rating.Consistency.ToString("N2", CultureInfo.InvariantCulture)</td>
                            <td>@Rating.Confidence.ToString("N2", CultureInfo.InvariantCulture)</td>
                            <td>
                                @if (Rating.PlayerRatingChange != null)
                                {
                                    <span class="@(Rating.PlayerRatingChange.Change30d >= 0 ? "text-success" : "text-danger")">
                                        @Rating.PlayerRatingChange.Change30d.ToString("N2", CultureInfo.InvariantCulture)
                                    </span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public PlayerRatingDetailDto Rating { get; set; } = default!;

    [Parameter, EditorRequired]
    public MvpInfo? MvpInfo { get; set; }
}