@using pax.dsstats.shared;
@using sc2dsstats.razorlib.Extensions;
@using sc2dsstats.razorlib.Services;

<table class="table table-sm table-striped table-dark">
    <thead>
        <CascadingValue Value="orders">
            <tr>
                <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Matchup"))">
                    <SortArrow Property="Matchup">
                        Matchup
                    </SortArrow>
                </th>
                <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Count"))">
                    <SortArrow Property="Count">
                        Games
                    </SortArrow>
                </th>
                <th scope="col" class="pointer" @onclick="@(e => SortList(e, "Winrate"))">
                    <SortArrow Property="Winrate">
                        Winrate
                    </SortArrow>
                </th>
            </tr>
        </CascadingValue>
    </thead>
    <tbody>
        @foreach (var matchup in GetSortedList())
        {
            <tr>
                <td>@matchup.Commander vs @matchup.Versus</td>
                <td>@matchup.Count</td>
                <td>@HelperService.GetPercentageString(matchup.Wins, matchup.Count)</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public List<PlayerMatchupInfo> Matchups { get; set; } = new();

    private List<TableOrder> orders = new()
    {
        new TableOrder()
        {
            Property = "Winrate"
        }
    };

    private void SortList(MouseEventArgs e, string property)
    {
        var exOrder = orders.FirstOrDefault(f => f.Property == property);
        if (e.ShiftKey)
        {
            if (exOrder == null)
            {
                orders.Add(new TableOrder()
                    {
                        Property = property
                    });
            }
            else
            {
                exOrder.Ascending = !exOrder.Ascending;
            }
        }
        else
        {
            orders.Clear();
            orders.Add(new TableOrder()
                {
                    Property = property,
                    Ascending = exOrder == null ? false : !exOrder.Ascending
                });
        }
    }

    private List<PlayerMatchupInfo> GetSortedList()
    {
        var list = Matchups.AsQueryable();
        foreach (var order in orders)
        {
            if (order.Property == "Matchup")
            {
                if (order.Ascending)
                {
                    list = list.AppendOrderBy(nameof(PlayerMatchupInfo.Commander)).AppendOrderBy(nameof(PlayerMatchupInfo.Versus));
                }
                else
                {
                    list = list.AppendOrderByDescending(nameof(PlayerMatchupInfo.Commander)).AppendOrderByDescending(nameof(PlayerMatchupInfo.Versus));
                }
            }
            else if (order.Property == "Winrate")
            {
                if (order.Ascending)
                {
                    list = list.OrderBy(o => o.Count == 0 ? 0 : o.Wins * 100.0 / o.Count);
                }
                else
                {
                    list = list.OrderByDescending(o => o.Count == 0 ? 0 : o.Wins * 100.0 / o.Count);
                }
            }
            else
            {
                if (order.Ascending)
                {
                    list = list.AppendOrderBy(order.Property);
                }
                else
                {
                    list = list.AppendOrderByDescending(order.Property);
                }
            }
        }
        return list.Where(x => x.Count > 10).ToList();
    }
}
