
<h4>Ih Session @Guid</h4>

<IhUploadComp Guid="Guid" OnDecodeRequested="DecodeRequested" />

<div>
    <p>@groupState.GroupId</p>
    <p>Connected: @isConnected</p>
    <p>Visitors: @groupState.Visitors</p>
</div>

@if (decoding)
{
    <div class="spinner-border spinner-border-sm text-danger" role="status">
        <span class="visually-hidden">Decoding...</span>
    </div>
}

<div>
    @foreach (var replay in groupState.ReplayHashes)
    {
        <p>@replay</p>
    }
</div>

<CascadingValue Value="groupState">
    <IhMatchComponent OnAddPlayersRequest="e => addPlayersModal?.Show(groupState.RatingType)" />
</CascadingValue>

<dsstats.razorlib.Builds.AddPlayersModal @ref="addPlayersModal" OnPlayersSelected="PlayersSelected" SinglePlayer="false" />