@using pax.dsstats.shared;
@using Microsoft.AspNetCore.Components.Forms;
@implements IDisposable;

<EditForm EditContext="editContext">
    <div class="row">
        <div class="col-auto">
            <label class="form-label">
                Time Period
                <InputSelect class="form-select" @bind-Value="Request.TimePeriod">
                    @foreach (TimePeriod time in Data.GetTimePeriods(Data.TimePeriodGet.NoNone))
                    {
                        <option value="@time">@Data.GetTimePeriodLongName(time)</option>
                    }
                </InputSelect>
            </label>
        </div>
        <div class="col-auto">
            <label class="form-label">
                Type
                <InputSelect class="form-select" @bind-Value="Request.RatingType">
                    <option value="@RatingType.Cmdr">Commanders</option>
                    <option value="@RatingType.Std">Standard</option>
                </InputSelect>
            </label>
        </div>
        <div class="col-auto">
            <div class="form-check form-switch">
                <label class="form-check-label">
                    WithRating
                    <InputCheckbox class="form-check-input" @bind-Value="Request.WithRating">
                    </InputCheckbox>
                </label>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label">
                    WithBrawl
                    <InputCheckbox class="@(Request.WithRating ? "form-check-input disabled" : "form-check-input")" disabled="@Request.WithRating" @bind-Value="Request.WithBrawl">
                    </InputCheckbox>
                </label>
            </div>
            <div class="d-flex">
                <div class="form-check form-switch">
                    <label class="form-check-label">
                        DefaultFilter
                        <input type="checkbox" checked disabled class="form-check-input" />
                    </label>
                </div>
                <div class="ms-2">
                    <span class="oi oi-info pointer" onclick="window.location.href='https://github.com/ipax77/dsstats/wiki#default-filter'"></span>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [CascadingParameter]
    public DurationRequest Request { get; set; } = default!;
    EditContext editContext = null!;

    [Parameter]
    public EventCallback OnRequestChanged { get; set; }

    [Parameter]
    public EventCallback<RatingType> OnRatingTypeChanged { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(Request);
        editContext.OnFieldChanged += FieldChanged;
        base.OnInitialized();
    }

    private void FieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (Request.WithRating)
        {
            Request.WithBrawl = false;
        }

        if (e.FieldIdentifier.FieldName == nameof(DurationRequest.RatingType))
        {
            OnRatingTypeChanged.InvokeAsync(Request.RatingType);
        }
        else
        {
            OnRequestChanged.InvokeAsync();
        }
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= FieldChanged;
    }

}