@using pax.dsstats.shared;
@using Microsoft.AspNetCore.Components.Forms;
@implements IDisposable;

<EditForm EditContext="editContext">
    <div class="row">
        <div class="col-auto">
            <label class="form-label">
                Time Period
                <InputSelect class="form-select" @bind-Value="Request.TimePeriod">
                    @foreach (TimePeriod time in Data.GetTimePeriods(Data.TimePeriodGet.NoNone))
                    {
                        <option value="@time">@Data.GetTimePeriodLongName(time)</option>
                    }
                </InputSelect>
            </label>
        </div>
        <div class="col-auto">
            <label class="form-label">
                Type
                <InputSelect class="form-select" @bind-Value="Request.RatingType">
                    <option value="@RatingType.Cmdr">Commanders</option>
                    <option value="@RatingType.Std">Standard</option>
                    <option value="@RatingType.CmdrTE">Commanders TE</option>
                    <option value="@RatingType.StdTE">Standard TE</option>
                </InputSelect>
            </label>
        </div>
        <div class="col-auto">
            <div class="form-check form-switch">
                <label class="form-check-label">
                    With Leavers
                    <InputCheckbox class="form-check-input" @bind-Value="Request.WithLeavers">
                    </InputCheckbox>
                </label>
            </div>
        </div>
    </div>
</EditForm>


@code {
    [CascadingParameter]
    public SynergyRequest Request { get; set; } = default!;
    EditContext editContext = null!;

    [Parameter]
    public EventCallback OnRequestChanged { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(Request);
        editContext.OnFieldChanged += FieldChanged;
        base.OnInitialized();
    }

    private void FieldChanged(object? sender, FieldChangedEventArgs e)
    {
        OnRequestChanged.InvokeAsync();
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= FieldChanged;
    }

}