
<div class="top-row px-4">
    <div class="row">
        <div class="col-auto">
            <h4>
                <span class="badge bg-success pointer" @onclick="@(() => NavigationManager.NavigateTo("replays"))">
                    Replays @dsstatsService.DbReplaysCount
                </span>
            </h4>
        </div>
        <div class="col-auto">
            <h4><span class="badge bg-warning pointer" @onclick="e => dsstatsService.DecodeNewReplays()">New Replays @dsstatsService.NewReplaysCount</span></h4>
        </div>
        <div class="col-auto">
            @if (decodeErrors.Count > 0)
            {
                <h4><span class="badge bg-danger pointer" @onclick="ShowErrors">Errors @decodeErrors.Count</span></h4>
            }
        </div>
        <div class="col-auto">
            @if (decodeInfo is not null)
            {
                @if (decodeInfo.Finished)
                {
                    <h4><span class="badge bg-success">Decoded @decodeInfo.Done Replay@((decodeInfo.Done > 1 ? "s" : "")) in @decodeInfo.Elapsed.ToString(@"hh\:mm\:ss")</span></h4>
                }
                else if (decodeInfo.Calculating)
                {
                    <h4><span class="badge bg-success">Calculating Ratings ..</span></h4>
                }
                else if (decodeInfo.Uploading)
                {
                    <h4><span class="badge bg-success">Uploading ..</span></h4>
                }
                else if (decodeInfo.Saving)
                {
                    <h4><span class="badge bg-success">Writing to database ..</span></h4>
                }
                else
                {
                    int percentage = decodeInfo.Total == 0 ? 0 : Convert.ToInt32(decodeInfo.Done * 100.0 / decodeInfo.Total);
                    <div>
                        <div>
                            @decodeInfo.Done / @decodeInfo.Total ETA @decodeInfo.Eta.ToString(@"hh\:mm\:ss")
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar"
                                 aria-label="decodestats" style="width: @(@percentage)%;"
                                 aria-valuenow="@percentage" aria-valuemin="0" aria-valuemax="100">
                                @(@percentage)%
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-auto">
            <h4><span class="badge bg-info">@currentLocation</span></h4>
        </div>
    </div>
</div>

<DecodeErrorModal DecodeErrors="decodeErrorsList" @ref="decodeErrorModal" />
