@using dsstats.razorlib.Services

<div class="mt-1">
    <h4 class="bgchart p-1 rounded d-inline-block">Replay Log</h4>
    <div class="table-responsive tableFixHead" style="max-height: 50vh; max-width: 500px;">
        <table class="tptable table w-auto">
            <thead>
                <tr class="user-select-none">
                    <th>#</th>
                    <th>Player</th>
                    <th>Cmdr</th>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var replayEvent in events.OrderBy(o => o.Time))
                {
                    @if (replayEvent.Sum1 is null || replayEvent.Sum2 is null)
                    {
                        <tr>
                            @if (replayEvent.Player is not null)
                            {
                                @if (replayEvent.InWinnerTeam)
                                {
                                    <td><span class="text-success">@replayEvent.Player.GamePos</span></td>
                                }
                                else
                                {
                                    <td><span class="text-danger">@replayEvent.Player.GamePos</span></td>
                                }
                                <td>@replayEvent.Player.Name</td>
                                <td>
                                    <div class="@($"preload-{replayEvent.Player.Race.ToString().ToLower()}")">
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                            <td>
                                @replayEvent.Time.ToString(@"hh\:mm\:ss")
                            </td>
                            <td>
                                <span class="@replayEvent.Color">@replayEvent.Event</span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="2"><span class="text-info">Summary at @replayEvent.Time.ToString(@"hh\:mm\:ss")</span></td>
                            <td colspan="3">
                                <table class="tptable table table-sm w-auto">
                                    <thead>
                                        <tr>
                                            <th>Team</th>
                                            <th>Mid</th>
                                            <th>Gas</th>
                                            <th>Army</th>
                                            <th>Kills</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="@(Replay.WinnerTeam == 1 ? "text-success" : "text-danger")">1</span></td>
                                            <td>@replayEvent.Sum1.Mid.ToString("N2")%</td>
                                            <td class="text-center">@replayEvent.Sum1.GasCount</td>
                                            <td>@HelperService.GetBigNumberString(replayEvent.Sum1.ArmyValue)</td>
                                            <td>@HelperService.GetBigNumberString(replayEvent.Sum1.Kills)</td>
                                        </tr>
                                        <tr>
                                            <td><span class="@(Replay.WinnerTeam == 2 ? "text-success" : "text-danger")">2</span></td>
                                            <td>@replayEvent.Sum2.Mid.ToString("N2")%</td>
                                            <td class="text-center">@replayEvent.Sum2.GasCount</td>
                                            <td>@HelperService.GetBigNumberString(replayEvent.Sum2.ArmyValue)</td>
                                            <td>@HelperService.GetBigNumberString(replayEvent.Sum2.Kills)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


