@using Microsoft.Extensions.Logging
@using pax.dsstats.shared;
@using sc2dsstats.razorlib.Services;
@inject IDataService dataService
@inject ILogger<StatsComponent> logger
@implements IDisposable

<div>
    <CascadingValue Value="StatsRequest">
        <StatsRequestComponent OnRequestChanged="RequestChanged"
                               OnChartOptionsChanged="ChartOptionsChanged"
                               OnAddRemoveCmdrsChanged="AddRemoveCmdrs"
                               DefaultPlayers="DefaultPlayers">
        </StatsRequestComponent>
    </CascadingValue>
</div>

<div class="d-flex mb-1">
    @if (statsResponse == null)
    {
        <div>
            <span class="badge bg-info" style="font-size: 1rem;">Replays: 0</span>
        </div>
        <div>
            <span class="badge bg-info" style="font-size: 1rem;">Filtered: 0</span>
        </div>
    }
    else
    {
        <div>
            <span class="badge text-bg-primary display-block ms-1" style="font-size: 1rem;">∅ @statsResponse.Request.StatsMode<br />@HelperService.GetPercentageString(statsResponse.Items.Sum(s => s.Wins), statsResponse.Items.Sum(s => s.Matchups))</span>
        </div>
        <div>
            <span class="badge text-bg-primary display-block" style="font-size: 1rem;">Replays<br />@(StatsRequest.DefaultFilter ? statsResponse.CountResponse.DefaultFilter : statsResponse.CountResponse.Count)</span>
        </div>
        <div>
            <span class="badge text-bg-primary display-block text-success ms-1" style="font-size: 1rem;">Filtered<br />@(StatsRequest.DefaultFilter ? statsResponse.CountResponse.Count - statsResponse.CountResponse.DefaultFilter : 0)</span>
        </div>
        <div>
            <span class="badge text-bg-primary display-block text-warning ms-1" style="font-size: 1rem;">Leaver<br />@statsResponse.CountResponse.Leaver</span>
        </div>
        <div>
            <span class="badge text-bg-primary display-block text-danger ms-1" style="font-size: 1rem;">Quits<br />@statsResponse.CountResponse.Quits</span>
        </div>
        @if (statsResponse.AvgDuration > 0)
        {
            <div>
                <span class="badge text-bg-primary text-light display-block ms-1" style="font-size: 1rem;">∅ Duration<br />@TimeSpan.FromSeconds(statsResponse.AvgDuration).ToString(@"mm\:ss")min</span>
            </div>
        }
    }
    @if (isLoading)
    {
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden" style="font-size: 1rem;">Loading...</span>
        </div>
    }
</div>

<div class="row">
    <div class="col-auto">
        <CascadingValue Value="statsResponse">

            <StatsTable OnCommanderClicked="CommanderClicked"></StatsTable>
        </CascadingValue>
    </div>
    <div class="col-auto bgchart">
        <StatsChartComponent @ref="statsChartComponent" StatsRequest="StatsRequest" OnLabelClicked="CommanderClicked"></StatsChartComponent>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public StatsRequest StatsRequest { get; set; } = default!;

    [Parameter]
    public EventCallback OnRequestChanged { get; set; }

    [Parameter]
    public List<RequestNames> DefaultPlayers { get; set; } = new();

    private bool isLoading = false;
    private StatsResponse statsResponse = new();
    private SemaphoreSlim ss = new(1, 1);
    private object lockobject = new();

    StatsChartComponent? statsChartComponent;

    protected override void OnInitialized()
    {
        dataService.SetFromServer(false);
        _ = LoadData(true);
        base.OnInitialized();
    }

    public void ChartOptionsChanged()
    {
        statsChartComponent?.SetBeginAtZero(StatsRequest.BeginAtZero);
    }

    private void RequestChanged()
    {
        _ = LoadData();
    }

    private void CommanderClicked(Commander cmdr)
    {
        StatsRequest.Interest = cmdr;
        _ = LoadData();
    }

    public async Task LoadData(bool init = false)
    {
        await ss.WaitAsync();

        try
        {
            isLoading = true;

            statsChartComponent?.PrepareChart(StatsRequest, false);

            await InvokeAsync(() => StateHasChanged());
            statsResponse = await dataService.GetStats(StatsRequest);

            isLoading = false;
            await InvokeAsync(() => StateHasChanged());

            statsChartComponent?.SetupChart(statsResponse);

            if (!init)
            {
                await OnRequestChanged.InvokeAsync();
            }
        }
        catch (Exception ex)
        {
            logger.LogError($"failed loading data: {ex.Message}");
        }
        finally
        {
            ss.Release();
        }
    }

    public async Task AddRemoveCmdrs(List<Commander> requestCmdrs)
    {
        if (statsChartComponent == null)
        {
            return;
        }
        await ss.WaitAsync();
        try
        {
            isLoading = true;
            await InvokeAsync(() => StateHasChanged());

            var removeCmdrs = StatsRequest.AddRemoveCommanders.Except(requestCmdrs).ToList();
            var addCmdrs = requestCmdrs.Except(StatsRequest.AddRemoveCommanders).ToList();

            StatsRequest.AddRemoveCommanders = requestCmdrs;


            if (removeCmdrs.Any())
            {
                foreach (var removeCmdr in removeCmdrs)
                {
                    await statsChartComponent.PrepareChart(StatsRequest with { Interest = removeCmdr }, true);

                    if (StatsRequest.Interest == removeCmdr)
                    {
                        StatsRequest.Interest = Commander.None;
                    }
                }
            }

            if (addCmdrs.Any())
            {
                List<Task> addTasks = new();


                foreach (var addCmdr in addCmdrs)
                {
                    // addTasks.Add(Task.Factory.StartNew(async() => await LoadAddData(StatsRequest with { Interest = addCmdr })));
                    addTasks.Add(LoadAddData(StatsRequest with { Interest = addCmdr }));
                }

                // Task.WaitAll(addTasks.ToArray());
                await Task.WhenAll(addTasks);

                StatsRequest.Interest = addCmdrs.First();
            }

            isLoading = false;
            await InvokeAsync(() => StateHasChanged());
        }
        catch (Exception ex)
        {
            logger.LogError($"failed addRemoving cmdrs: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            ss.Release();
        }

        if (StatsRequest.Interest != Commander.None)
        {
            await OnRequestChanged.InvokeAsync();
        }

    }

    public async Task LoadAddData(StatsRequest request)
    {
        if (statsChartComponent == null)
        {
            return;
        }
        var response = await dataService.GetStats(request);
        await statsChartComponent.SetupChart(response);
        lock (lockobject)
        {
            statsResponse = response;
        }
    }

    public void Dispose()
    {
        ss.Dispose();
    }
}
