@using Blazored.Toast.Services;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using System.Globalization
@using pax.dsstats.shared
@using pax.dsstats.shared.Raven;
@using sc2dsstats.razorlib.Services
@inject IDataService dataService
@inject IToastService toastService
@implements IDisposable

<style>
    .tableFixHead {
        overflow-y: auto;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
        white-space: nowrap;
    }

    th {
        background: purple;
    }

    .tablebackground {
        position: absolute;
        z-index: -1;
        opacity: 0.15;
    }
</style>

<div>
    <div class="d-flex">
        <EditForm EditContext="editContext">
            <div class="row">
                <div class="col-auto">
                    <label class="form-label">
                        Search:
                        <InputText class="form-control" @bind-Value="ratingsRequest.Search"></InputText>
                    </label>
                </div>
            </div>
        </EditForm>
        <div class="align-self-center ms-2">
            <span class="oi oi-x text-danger pointer" @onclick="ResetSearch"></span>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-sm table-dark table-hover table-striped w-auto">
            <colgroup>
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
                <col class="col">
            </colgroup>
            <thead>
                <CascadingValue Value="ratingsRequest.Orders">
                    <tr>
                        <th>Select</th>
                        <th scope="col" class="pointer text-info" @onclick="@(e => SortList(e, "Name"))">
                            <SortArrow Property="Name">
                                Name
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "CmdrRatingStats.Games"))">
                            <SortArrow Property="GamesCmdr">
                                Games
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer text-warning" @onclick="@(e => SortList(e, "CmdrRatingStats.Mmr"))">
                            <SortArrow Property="Mmr">
                                Rating
                            </SortArrow>
                        </th>
                        <th scope="col" class="pointer" @onclick="@(e => SortList(e, "WinrateCmdr"))">
                            <SortArrow Property="WinrateCmdr">
                                Winrate
                            </SortArrow>
                        </th>
                    </tr>
                </CascadingValue>
            </thead>
            <tbody>
                @if (ratingsCount > 0)
                {
                    <Virtualize @ref="virtualize" Context="player" ItemsProvider="LoadRatings">
                        <ItemContent>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" @onclick="e => OnPlayersSelected.InvokeAsync(player)">Select</button>
                                </td>
                                <td><span class="text-truncate text-info" style="display: block; width: 150px;">@player.Name</span></td>
                                <td class="border-start">@player.Rating.Games</td>
                                <td class="text-warning">@Math.Round(player.Rating.Mmr, 2).ToString(CultureInfo.InvariantCulture)</td>
                                <td>@HelperService.GetPercentageString(player.Rating.Wins, player.Rating.Games)</td>
                            </tr>
                        </ItemContent>
                        <Placeholder>
                            <tr height="47px"><td>Loading ...</td></tr>
                        </Placeholder>
                    </Virtualize>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<RavenPlayerDto> OnPlayersSelected { get; set; }

    private RatingsRequest ratingsRequest = new()
        {
            Skip = 0,
            Take = 20,
            Orders = new()
        {
            new()
            {
                Property = "CmdrRatingStats.Mmr",
                Ascending = false
            },
        }
        };

    private EditContext editContext = null!;
    private int ratingsCount;
    private Virtualize<RavenPlayerDto>? virtualize;

    protected override void OnInitialized()
    {
        editContext = new EditContext(ratingsRequest);
        editContext.OnFieldChanged += FieldChanged;
        base.OnInitialized();
    }

    private void FieldChanged(object? sender, FieldChangedEventArgs e)
    {
        _ = Reload();
    }

    public async Task Reload()
    {
        await InvokeAsync(() => StateHasChanged());
        if (virtualize != null)
        {
            await virtualize.RefreshDataAsync();
        }
        await InvokeAsync(() => StateHasChanged());
    }

    private async ValueTask<ItemsProviderResult<RavenPlayerDto>> LoadRatings(ItemsProviderRequest request)
    {
        var numRatings = Math.Min(request.Count, ratingsCount - request.StartIndex);
        ratingsRequest.Skip = request.StartIndex;
        ratingsRequest.Take = numRatings;
        var result = await dataService.GetRatings(ratingsRequest, request.CancellationToken);
        ratingsCount = result.Count;

        return new ItemsProviderResult<RavenPlayerDto>(result.Players, ratingsCount);
    }

    private async Task SortList(MouseEventArgs e, string property)
    {
        var exOrder = ratingsRequest.Orders.FirstOrDefault(f => f.Property == property);
        if (e.ShiftKey)
        {
            if (exOrder == null)
            {
                ratingsRequest.Orders.Add(new TableOrder()
                    {
                        Property = property
                    });
            }
            else
            {
                exOrder.Ascending = !exOrder.Ascending;
            }
        }
        else
        {
            ratingsRequest.Orders.Clear();
            ratingsRequest.Orders.Add(new TableOrder()
                {
                    Property = property,
                    Ascending = exOrder == null ? false : !exOrder.Ascending
                });
        }
        await Reload();
    }

    private void ResetSearch()
    {
        ratingsRequest.Search = null;
        _ = Reload();
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= FieldChanged;
    }
}
