@using dsstats.shared
@using dsstats.razorlib.Services
@using System.Globalization

<div class="card">
    <div class="card-header bgchart2">
        <h4><span class="text-warning">Rating Info</span></h4>
        <small>@Data.GetRatingTypeLongName(Rating.RatingType)</small>
    </div>
    <div class="card-body bgchart">
        <div class="table-responsive">
            <table class="tptable table table-sm">
                <tbody>
                    <tr>
                        <td>Rating games</td>
                        <td colspan="2">@Rating.Games</td>
                    </tr>
                    <tr>
                        <td>Main</td>
                        <td>@(Rating.Games == 0 || Rating.MainCount * 100.0 / Rating.Games < 10.5 ? "Random" : Rating.Main.ToString())</td>
                    </tr>
                    <tr>
                        <td>Main %</td>
                        <td>@HelperService.GetPercentageString(Rating.MainCount, Rating.Games)</td>
                    </tr>
                    <tr>
                        <td>Winrate</td>
                        <td colspan="2">@HelperService.GetPercentageString(Rating.Wins, Rating.Games)</td>
                    </tr>
                    <tr>
                        <td>Mvp</td>
                        <td colspan="2">@HelperService.GetPercentageString(Rating.Mvp, Rating.Games)</td>
                    </tr>
                    <tr>
                        <td>Consistency</td>
                        <td colspan="2">@Rating.Consistency.ToString("N2", CultureInfo.InvariantCulture)</td>
                    </tr>
                    <tr>
                        <td>Confidence</td>
                        <td colspan="2">@Rating.Confidence.ToString("N2", CultureInfo.InvariantCulture)</td>
                    </tr>
                    <tr>
                        <td>
                            Rating Change
                            <br />
                            <small class="text-white-50">past 30 days</small>
                        </td>
                        <td colspan="2">
                            @if (Rating.PlayerRatingChange != null)
                            {
                                <span class="@(Rating.PlayerRatingChange.Change30d >= 0 ? "bi bi-arrow-up text-success" : "bi bi-arrow-down text-danger")">
                                    @Rating.PlayerRatingChange.Change30d.ToString("N2", CultureInfo.InvariantCulture)
                                </span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public PlayerRatingDetailDto Rating { get; set; } = default!;
}